@{
    ViewBag.Title = "Condominiums & Apartment Housing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @ViewBag.Title
    </div>
}


<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>


<div id="mainContent" data-curbranche="all-products">
    <h1 class="pageTitle">Condominium and Apartment Housing</h1>
    <div id="socialMediaLinks">

    </div>
    <div class="clear"></div>

    <div id="categorieBox">
        <div id="cbBorderTopLeft"></div>
        <div id="cbBorderTopRight"></div>
        <div id="cbBorderBottomLeft"></div>
        <div id="cbBorderBottomRight"></div>
        <div id="shadowBox">

            <img src="~/Content/images/Sail_Exterior_1_reduced-1.jpg">
        </div>
    </div>
    <div class="clear"></div>
    <div id="cbText"></div>

    <p>
        With a multitude of residents and almost always with elevators accessing different floors, an
        apartment community or condo housing is a primary area where evacuation solutions are highly
        beneficial for the overall safety of all inhabitants.
    </p>

    <p>
        We recommend one Escape-Chair® per floor accessed by an elevator or a minimum two to four
        Escape-Chairs® for a small sized community.
    </p>

    <p>
        Easy to use and and with tamper evident safety features (such as alarms & locks), Escape-
        Chairs® are the best evacuation devices for multi-family housing.
    </p>

    <p>Further uses for evacuation chairs:</p>

    <ul>
        <li>Elevator out of order</li>
        <li>Elevator renovation</li>
        <li>Black-outs</li>
    </ul>
    <br/>

    <h3>We recommend:</h3>

    <h2 data-clickable="@Url.Action(MVC.CondoApartment.EscapeChair())">Escape-Chair Standard ALU Extra:</h2>

    <p>
        With a minimal investment in price this chair has additional features over the Standard ALU
        model, that make operating it easier by providing non-slip surfaces on the handle and lower frame,
        and giving the evacuee a seat with additional fixations on the sides. We recommend this chair as an enhanced platform to schools and colleges. Also primarily used in medium rise buildings.
    </p>
    Is the product of your choice not listed? Please&nbsp;<a href="http://www.escape-mobility-usa.com/informatie/service/contact.aspx">contact</a> us! <br><p></p>

    <div id="products">
        <div class="brancheBlock" style="display: none;"></div>
        <div class="brancheBlock" style="display: none;"></div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>

