@model ICollection<Escape.Data.Model.CartItem>

<table id="wmTable">
    <thead>
        <tr>
            <th scope="col" id="wmItemAmount">Amount</th>
            <th scope="col" id="wmItemPrice">Price per piece</th>
            <th scope="col" id="wmItemDesc">Description</th>
            <th scope="col" id="wmItemNumber">Article Number</th>
            <th scope="col" id="wmItemRemove">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr data-language="" data-pid="53">
            <td>
                <div class="form-group">
                    <input type="text" value="1" />
                </div>
            </td>
            <td>x &#36; 1,245.00</td>
            <td>Escape-Mattress® Fold</td>
            <td>1100010</td>
            <td>
                <a class="removeButton"></a>
            </td>
        </tr>
        <tr data-language="" data-pid="232">
            <td>
                <div class="formData fdInputSmall">
                    <input type="text" class="changeAmount" value="1" />
                </div>
            </td>
            <td>x &#36; 1,445.00</td>
            <td>Escape-Chair® Standard-ALU with extra package</td>
            <td>1000015</td>
            <td>
                <a class="removeButton"></a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="2" class="priceExVat">Prices are excl. Tax</td>
        </tr>
    </tbody>
</table>
