
@{
    ViewBag.Title = "Privacy Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>
<div id="mainContent" data-curpage="privacy-en-disclaimer">
    <h1 class="pageTitle">Privacy &amp; disclaimer</h1>

    <div class="clear"></div>
    <h2>Privacy Policy </h2>
    Escape Mobility Company respects the privacy of all users of its site and ensures that the personal information which you give us is treated as confidential. <br>
    <br>
    <strong>Purposes of the data processing</strong> <br>
    We use your data to allow contact with our customers to take place in the smoothest and simplest way possible. Apart from this, we will use this data only with your permission. Escape Mobility Company will not sell your personal data to third parties and will make it available only to third parties who are involved in the processing of your order. <br>
    <br>
    Escape Mobility Company uses the data gathered to provide the following services to its customers: <br>
    <ul>
        <li>If you use the ‘Call me back' option, we need your name and telephone number to contact you. </li>
        <li>If you use the ‘Contact' option, we need your name and E-mail address to answer your question. </li>
        <li>If you request a quotation, we need at least your name, address and town details, as well as your E-mail address to prepare a quotation and inform you about its progress. </li>
        <li>To make shopping at Escape Mobility Company as pleasant as possible, we will store your personal data and the data relating to your order and the use of our services with your permission. This will enables us to personalise the website. </li>
        <li>We will use your E-mail address to inform you about the development of the website and about special offers and campaigns. If you no longer wish this, you may unsubscribe by clicking the link which is included at the bottom of an E-mail which is intended for marketing purposes. </li>
        <li>Data about the use of our website and the feedback which we receive from our visitors will help us to further improve and develop our site. </li>
        <li>If you decide to write a review, you may opt for adding or omitting your name or other personal data. We are interested in the opinions of our visitors, but we reserve the right not to publish contributions which do not fulfil our site conditions. </li>
        <li>If you respond to a campaign or competition, we ask for your name, address and E-mail address. We use this data to carry out the campaign, to announce the winner(s) and to measure the response to our marketing activities. </li>
    </ul>
    <br>
    Escape Mobility Company will not sell your data. Escape Mobility Company will not sell your personal data to third parties and will make it available only to third parties who are involved in the processing of your order or in the preparation of a quotation. Our employees and the third parties which we use are obliged to respect the confidentially of your data. <br>
    <br>
    <strong>Use of cookies</strong> <br>
    Cookies are small pieces of information which your browser stores on your computer. Escape Mobility Company uses cookies to recognise you at your next visit. Cookies enable us to gather information about the users of our services and to improve this and to adjust to the wishes of our visitors. Our cookies give information with regard to personal identification. You can set your browser in such a way that you receive no cookies when you shop at Escape Mobility Company. <br>
    <br>
    <strong>Google Analytics</strong> <br>
    We use Google Analytics to keep track of how users use the website and how effective our Adwords advertisements are on Google search result pages. The information obtained in this way, including the address of your computer (IP address), is transferred to and stored by Google on servers in the United States.&nbsp;<a href="http://www.google.com/intl/eng/policies/privacy/ads/" target="_blank">Please read the privacy policy of Google</a> for more information, also about the specific privacy policy of <a href="http://www.google.com/intl/en/analytics/privacyoverview.html" target="_blank">Google Analytics</a>. <br>
    <br>
    Google uses this information to keep track of how our website is used, to provide us with reports about the website and to provide its advertisers with information about the effectiveness of the campaigns. Google may provide this information to third parties if Google is under a legal obligation to do so, or in so far as these third parties process this information on behalf of Google. We have no influence whatsoever on this. <br>
    <br>
    <strong>Facebook, LinkedIn and Twitter</strong> <br>
    This site includes buttons to promote or share pages on social networks such as Facebook and Twitter. These buttons are produced by means of code which is supplied by Facebook or Twitter itself. This code installs a cookie (see above). <br>
    <br>
    Please read the <a href="http://www.facebook.com/about/privacy/" target="_blank">privacy statement of Facebook</a>,&nbsp;<a href="http://twitter.com/privacy" target="_blank">Twitter</a> and&nbsp;<a href="http://www.linkedin.com/static?key=privacy_policy&trk=hb_ft_priv" target="_blank">LinkedIn</a> (which may change regularly) to see&nbsp;how they treat your personal data which they process with this code. <br>
    Should you have any further questions about the Privacy Policy of Escape Mobility Company, please contact us. Our customer service professionals&nbsp;will be glad to help you if you need information about your data or want to change it. Should change of our privacy policy be necessary, then the most recent version can always be found on this page. <br>
    <br>
    <strong>
        Modification of privacy statement <br>
    </strong>We reserve the right to modify this privacy statement. Any changes will be published on this website. <br>
    ________________________________________ <br>
    <br>
    <h2>Disclaimer </h2>
    <strong>General</strong> <br>
    Escape Mobility Company USA, LLC, to be referred to below as Escape Mobility Company, hereby grants you access to escape-mobility-usa.com and invites you to purchase the products offered. Escape Mobility Company reserves the right to adjust the contents or to remove parts at any time without having to announce this to you. <br>
    <br>
    <strong>Limited liability</strong> <br>
    Escape Mobility Company makes an effort to update and/or supplement the contents of escape-mobility-usa.com as often as possible. In spite of this care and attention it is possible that the contents are incomplete and/or incorrect. <br>
    <br>
    Especially concerning <strong>prices</strong> and other information about products on&nbsp;escape-mobility-usa.com&nbsp;we make a reserve the right to make changes with regard to apparent programming and spelling errors. Such errors do not entitle you to claim any agreement with Escape Mobility Company. <br>
    <br>
    <strong>Copyrights</strong> <br>
    All intellectual property rights regarding these materials are vested in Escape Mobility Company. Copying, distributing and making any other use of these materials is not allowed without written permission from Escape Mobility Company, except for and only to the extent of different provisions in compulsory regulations or laws (such as the right to quote), and unless indicated otherwise for specific materials. <br>
    <br>
    <strong>Miscellaneous </strong><br>
    We reserve the right to modify this disclaimer. <br>
</div>
