@model dynamic

@{
    ViewBag.Title = "Thank you for your inquiry. Someone will contact you shortly.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for your inquiry. Someone will contact you shortly.</h2>
