
@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>

<div id="mainContent" data-curpage="terms-en-conditions">
    <h1 class="pageTitle">Terms &amp; Conditions</h1>

    <div class="clear"></div>
    <h2>Return Policy </h2>
    Escape Mobility Co. USA has a 30 days return policy. A 15% restocking fee will apply and the customer is responsible for the cost of freight to return goods to Escape Mobility Co. USA. <br>
    Customer is also responsible for the cost of any required repairs and missing items. <br>
    Modified goods carry a restocking fee of 30%. <br>
    <br>
    In case of a return please contact Escape Mobility Co. USA and obtain a Return Authorization Number. Without the RA# we cannot offer a refund. <br>
    <br>
    <strong>Damaged Goods in Transit</strong><br>
    Carefully inspect all merchandise immediately upon pick-up/delivery and note, in writing, any damage or discrepancies at the time that the order is signed for. All damaged goods must be reported in writing immediately to the carrier for inspection. All damaged goods must be reported in writing to Escape Mobility Co. USA within three (3) business days. All damaged goods, including original packaging, must be retained by the customer for inspection and/or return to Escape Mobility Co. USA. Failure to comply fully with these requirements will result in Escape Mobility Co. USA not assuming any liability whatsoever for resultant losses from damage or loss in transit. Customers shall remain liable for payment in full. <br>
</div>