
@{
    ViewBag.Title = "Healthcare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>

<div id="mainContent" data-curbranche="healthcare">
    <h1 class="pageTitle">Healthcare</h1>
    <div id="socialMediaLinks">

    </div>
    <div class="clear"></div>

    <div id="categorieBox">
        <div id="cbBorderTopLeft"></div>
        <div id="cbBorderTopRight"></div>
        <div id="cbBorderBottomLeft"></div>
        <div id="cbBorderBottomRight"></div>
        <div id="shadowBox">

            <img src="~/Content/images/healthcare.jpg">
        </div>
    </div>
    <div class="clear"></div>
    <div id="cbText"></div>

    <p></p><h2>Do not let a calamity be your main concern! </h2>
    Emergencies in the Healthcare Sector usually involves dealing with vulnerable people, of whom require more assistance. For example: in a Hospital or Care Centre, not only patients, service users and employees, there are also many visitors that are present, each and every day.&nbsp;It may be that your visitors also require&nbsp;assistance, as they may also&nbsp;have mobility issues. <br>
    <br>
    It is therefore very important to be well prepared, in the event of an emergency. <br>
    <br>
    We offer a wide range of evacuation solutions and emergency response products especially for the Healthcare Sector. Please select the desired category from the list located to the left.

    <div class="clear"></div>
</div>