
@{
    ViewBag.Title = "Accessories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("Office Buildings", MVC.OfficeBuildings.Index(), null)
        @ViewBag.Title
    </div>
}