
@{
    ViewBag.Title = "Office Buildings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>

<div id="mainContent" data-curbranche="office-buildings">
    <h1 class="pageTitle">Offices | Government buildings | Public places | Office buildings</h1>
    <div id="socialMediaLinks">

    </div>
    <div class="clear"></div>

    <div id="categorieBox">
        <div id="cbBorderTopLeft"></div>
        <div id="cbBorderTopRight"></div>
        <div id="cbBorderBottomLeft"></div>
        <div id="cbBorderBottomRight"></div>
        <div id="shadowBox">

            <img src="~/Content/images/office-buildings.jpg">
        </div>
    </div>
    <div class="clear"></div>
    <div id="cbText"></div>

    <p></p><h2>Is your company prepared for an emergency? </h2>
    In the busy daily practice of your office you probably do not give much thought to the possibility that an emergency may occur, but a fire may start or an accident at work may happen in your building too. <br>
    <br>
    At that moment, it is important that you act quickly and you have all the required equipment, within easy reach. <br>
    <br>
    We offer a wide range of evacuation and emergency response products especially for offices. <br>
    Please select the desired category from the list&nbsp;located on the left. <br><p></p>


    <div class="clear"></div>
</div>