@{
    ViewBag.Title = "Brochures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("Information", MVC.Information.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("MainLeftMenu")
</div>

<div id="mainContent" data-curpage="brochures">
    <h1 class="pageTitle">Brochures</h1>

    <div class="clear"></div>
    <p>
        @*<a href="http://www.escape-mobility.nl/images/cms/?path=documents/pdf/usa/online-lying-position-usa_1_6.pdf">online-lying-position-USA_1_6.pdf</a>*@
        Within this area of our website you can view or download our brochures.&nbsp;You can download these (in Adobe PDF format) by clicking on the pictures below.
    </p>
    <p align="center">
        @*<a href="http://www.escape-mobility.nl/images/cms/?path=documents/pdf/usa/online-escape-chair-usa_1_2.pdf"><img style="BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid" src="~/Content/images/UK-brochure-Escape-Chair.jpg"></a>&nbsp;&nbsp; &nbsp;*@
        <a href="http://www.escape-mobility.nl/images/cms/?path=documents/pdf/usa/online-lying-position-usa_1_6.pdf"><img style="BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid" src="~/Content/images/UK-brochure-Liggend-Evacueren.jpg"></a>
    </p>
</div>
