
@{
    ViewBag.Title = "References";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("Information", MVC.Information.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("MainLeftMenu")
</div>

<div id="mainContent" data-curpage="references">
    <h1 class="pageTitle">References</h1>

    <div class="clear"></div>
    <br>
    <h1>References in the USA</h1>
    <br>
    <table>
        <tbody>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top">
                    <img src="~/Content/images/ada_county.JPG"><br>
                    <br>
                </td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Ada County Sheriff <br>
                    </strong><em>Boise, Idaho</em>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/galena park.jpg">&nbsp;</td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Galena Park <br>
                    </strong><em>Houston, Texas</em>&nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/kennecott.JPG"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Kennecott&nbsp;Utah Copper<br>
                    </strong><em>Salt Lake City, Utah</em>&nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/kisco senior living virginia beach, virginia.jpg">&nbsp;</td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Kisco Senior Living Virginia Beach<br>
                    </strong><em>Virginia&nbsp;</em>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/palmetto.JPG"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Palmetto General Hospital<br>
                    </strong><em>Hialeah, Florida</em>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top">&nbsp;<img src="~/Content/images/united states attorney’s office boston, ma.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>United States Attorney’s Office </strong><br>
                    <em>Boston, MA&nbsp;</em>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/united states marine corps – mccs cherry point, north carolina.jpg">&nbsp;</td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>United States Marine Corps&nbsp;</strong> <br>
                    <em>MCCS Cherry Point, North Carolina</em>&nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/wallace_community.JPG"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Wallace Community College<br>
                    </strong><em>Dothan, Alabama</em>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h1>References around the world</h1>
    <br>
    <table>
        <tbody>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/azmlogo_2.png"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Academisch Ziekenhuis Maastricht<br>
                    </strong><em>Maastricht, The Netherlands</em>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/Akademie-der-Kunste-Berlin.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Akademie der Künste<br>
                    </strong><em>Berlin, Germany</em>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/az-alma2.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        AZ&nbsp;Alma<br>
                    </strong><em>Sijsele - Damme / Eeklo, Belgium</em>&nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top">&nbsp;</td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Bayerisches Staatsministerium des Innern <br>
                    </strong><em>München, Germany</em>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top">
                    <img src="~/Content/images/berufsfoerderungswerk.jpg"><br>
                </td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Berufsförderungswerk München gemeinnützige GmbH<br>
                    </strong><em>Kirchseeon, Germany</em><br>
                    <br>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/jvg-logo.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Medisch Centrum Jan van Goyen<br>
                    </strong><em>Amsterdam, The Netherlands</em><br>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/RK-logo3.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Het Nederlandse Rode Kruis, district Rotterdam<br>
                    </strong><em>Rotterdam, The Netherlands</em>&nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/umcgkort_fc.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>Universitair Medisch Centrum Groningen</strong> <br>
                    <em>Groningen, The Netherlands</em>&nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/vanbreda2.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Vanbreda Risk &amp; Benefits NV<br>
                    </strong><em>Borgerhout, Belgium</em>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/VGR-logo2.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>Vereniging van Gehandicaptenorganisaties Rotterdam</strong> <br>
                    <em>Rotterdam, The Netherlands</em>&nbsp;
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top"><img src="~/Content/images/yulius.jpg"></td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        Yulius<br>
                    </strong><em>Dordrecht, The Netherlands</em>
                </td>
            </tr>
            <tr>
                <td style="TEXT-ALIGN: left; WIDTH: 150px; HEIGHT: 75px; VERTICAL-ALIGN: top">
                    <br>
                    <img src="~/Content/images/lebenhsilfe-blau.png">&nbsp;
                </td>
                <td style="WIDTH: 40px">&nbsp;</td>
                <td style="TEXT-ALIGN: left; WIDTH: 400px; VERTICAL-ALIGN: top; ">
                    <strong>
                        <br>
                        Lebenshilfe Göppingen <br>
                    </strong><em>Heinigen, Germany</em>
                </td>
            </tr>
        </tbody>
    </table>

</div>
