
@{
    ViewBag.Title = "Redirect";
    Layout = "~/Views/Shared/_AutoRedirect.cshtml";
}

<h3>This link will take you to <a href="@ViewBag.RedirectUrl">@ViewBag.RedirectUrl</a>.</h3>
<p>Click on link if your are not redirected in 5 seconds.</p>

@section pagecss
{
    <link href="~/Content/styles/app/masterpage.1015101830.css" type="text/css" rel="stylesheet">
    <link href="~/Content/styles/app/homepage.0227102118.css" type="text/css" rel="stylesheet">
}
@section googleanalytics
{
<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-50047524-1', 'escape-mobility.net');
            ga('send', 'pageview');

</script>
    
}