@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>

<div id="mainContent" data-curbranche="education">
    <h1 class="pageTitle">Evacuation in Education</h1>
    <div id="socialMediaLinks">

    </div>
    <div class="clear"></div>

    <div id="categorieBox">
        <div id="cbBorderTopLeft"></div>
        <div id="cbBorderTopRight"></div>
        <div id="cbBorderBottomLeft"></div>
        <div id="cbBorderBottomRight"></div>
        <div id="shadowBox">

            <img src="~/Content/images/education.jpg">
        </div>
    </div>
    <div class="clear"></div>
    <div id="cbText"></div>
    <h2>Is your educational institution prepared for an emergency?</h2>
    <p>
        Within the education environment, more often than not, there are individual students,
        amongst the student population, that require more assistance than others. Especially
        special education departments should make it a priority to prepare for disasters.
    </p>

    <p>
        In the event of an emergency, an evacuation of a school for example, these particular
        students are very vulnerable, as they tend to rely on using the elevators. There are
        also mandates for ADA Compliance to consider in many school districts.
    </p>

    <p>
        Make sure that these groups of students can leave the building quickly and safely. We,
        at Escape Mobility Company, know better than anyone else what type of support the
        educational environment really needs. We offer a wide range of evacuation and emergency
        response products especially suited for educational institutions. Please select the
        desired category from the list on the left.
    </p>

    <h3>We recommend:</h3>

    <h2 data-clickable="@Url.Action(MVC.Education.EscapeChair())">Escape-Chair Standard ALU Extra:</h2>
    <p>
        With a minimal investment in price this chair has additional features over the Standard
        ALU model, that make operating it easier by providing non-slip surfaces on the handle and
        lower frame, and giving the evacuee a seat with additional fixations on the sides. We
        recommend this chair as an enhanced platform to schools and colleges. Also primarily used
        in medium rise buildings.
    </p>

    <p>For Special Education Departments we recommend a footrest and Escape-Harness as an addition to
        the Escape-Chair, or the Escape-Chair Comfort which has arm and footrest already included.</p>
    <div class="clear"></div>
</div>