
<li class="menusafety open">
    @Html.ActionLink("Safety", MVC.AllProducts.Safety("EmergencyAid"), new { @class = "mainLeftMenu" })
    <ul class="subLeftMenu" style="">
        <li data-division="safety" data-group="lockers">
            @Html.ActionLink("Emergency Aid", MVC.AllProducts.Safety("EmergencyAid"), null)
        </li>
        <li data-division="safety" data-group="lockers">
            @Html.ActionLink("Lockers", MVC.AllProducts.Safety("Lockers"), null)
        </li>
        <li data-division="safety" data-group="smokehood">
            @Html.ActionLink("Smokehood", MVC.AllProducts.Safety("Smokehood"), null)
        </li>
    </ul>
</li>
