
@{
    ViewBag.Title = "Smokehood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("All Products", MVC.AllProducts.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("./_MainLeftMenu")
</div>

<div id="mainContent" data-currentname="Smokehood" data-division="safety" data-curbranche="all-products">
    <h1 class="pageTitle">Smokehood</h1>

    <div class="clear"></div>
    <p>

    </p>
</div> 