
@{
    ViewBag.Title = "Escape Mattress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("Education", MVC.Education.Index(), null)
        @ViewBag.Title
    </div>
}

