#Product_table {
  margin: 10px auto;
}
#Product_table.table {
  width: 80%;
}
#Product_table.table td {
  text-align: left !important;
}
#Product_table.table td:last-child {
  width: 175px;
}
#Product_table.details {
  width: 80%;
}
#Product_table.details td {
  text-align: left !important;
}
#Product_table.details td:first-child {
  width: 175px !important;
}
#Product_table tr,
#Product_table td {
  max-height: 50px !important;
}
.content {
  text-align: center;
  width: 100%;
}
.form-horizontal {
  margin: 0 auto;
  width: 50%;
}
td.center {
  text-align: center !important;
}
td.center i.fa {
  margin: 0 auto;
}
td.tbl-longdescription {
  min-width: 200px;
  overflow-y: scroll;
}
.left-align {
  text-align: left;
}
