@charset "utf-8";
/* Gerealiseerd door : Juice BV - Noorderbaan 10 - 5388 RB Nistelrode    */
/* T: 0412-611453 - E: info@itsallinthemix.nl - I: www.itsallinthemix.nl */

/* Categoriebox */

#categorieBox{	
	border: 1px solid #dcdcdc;
	float: left;
	padding: 7px;
	position: relative;
}
#cbBorderTopLeft, #cbBorderTopRight, #cbBorderBottomLeft, #cbBorderBottomRight{
	background: url("../img/content/cbBorderBg.png") no-repeat scroll 0 0 transparent;
	height: 8px;
	position: absolute;
	width: 8px;
}
#cbBorderTopLeft{
	left: -1px;
	top: -1px;	
}
#cbBorderTopRight{
	background-position: -8px 0;
	right: -1px;
	top: -1px;
}
#cbBorderBottomLeft{
	background-position: 0 -8px;
	bottom: -1px;
	left: -1px;	
}
#cbBorderBottomRight{
	background-position: -8px -8px;
	bottom: -1px;
	right: -1px;
}
#shadowBox{	
	height: 100%;
	position: relative;
	width: 100%;
	overflow: hidden;
}
#shadowOverlay{
	background: url("../img/content/boxShadow.png") no-repeat scroll 0 0 transparent;
	height: 500px;
	position: absolute;
	width: 681px;
	z-index: 10;
}
#shadowBox img{
	max-height: 500px;
	max-width: 681px;
	position: relative;
}
#cbText{
	color: #999999;
	font-size: 10px;
	font-style: italic;
}
/* Productenlijst */
#products {
	width: 694px;
	border-left: 1px solid #dedede;
	margin-top: 20px;
}
.product {
	background: url("../img/content/productBg.png") no-repeat 0 0;	
	float: left;
	height: 310px;
	margin: 30px -1px 20px 0;
	position: relative;
	width: 347px;
}
.imgBox {
	background: #ffffff;
	height: 285px;
	left: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 230px;
}
.imgBox img {
	max-height: 285px;
	position: absolute;
	top: 0px;
	z-index: 2;
}
.imgBoxBg {
	background: url("../img/content/productImgBg.png") repeat-x 0 0 transparent;
	height: 285px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 230px;
	z-index: 2;
}
.prLeft .imgBox img {
	left: 0px;
	margin-left: -30px;
}
.prRight .imgBox img {
	margin-right: -30px;
	right: 0px;
}
.product .contentButton {
	bottom: 55px;
	position: absolute;
	right: 20px;
	z-index: 5;
}
.product .price {
	margin: 20px 0px 0 0;
	bottom: 0;
	width: 150px;
	/*position: relative;
	
	right: 0;*/
}
.deutsch .product .price {
	width: 205px;
}
#piPriceVAT {
    margin-right:10px;
    position: static;
}
.productText {
	color: #666666;
	font-size: 11px;
	height: 160px;
	line-height: 11px;
	margin: 10px;
	position: relative;
	width: 200px;
	z-index: 5;
}
.productText .prodTitle {
	color: #005832;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 15px;
}

.prRight .productText {
	float: left;
	text-align: left;
}
.prLeft .productText {
	float: right;
	text-align: right;
}

.brancheBlock {
	background: url("../img/content/brancheProdBg.png") repeat-x 0 120px;
    float: left;
    min-height: 225px;
    width: 326px;
    position: relative;
    border-right: 1px solid #dedede;
    padding: 10px;
}
.pName, .blockTitle {
    color: #005832;
    font-size: 20px !important;
    font-weight: normal;
    line-height: 20px;
    padding: 0 0 20px;
}
.pName, .pDescr, .oldprice, .price, .piPriceVAT, .contentButton {
    text-align: right;
    width: 326px;
    z-index: 10;
    position: absolute;
    overflow: hidden;
}
.pName {
    height: 40px;
    padding: 0;
    top: 10px;
    right: 10px;
    
}
.pDescr {
    color: #666666;
    font-size: 11px;
    height: 33px;
    line-height: 11px;
    z-index: 5;   
    right: 10px;
    top: 65px;
    overflow: visible;
}
.overviewImage {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}
.oldprice  {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    margin-left: 0;
    text-align: right;
    right: 10px;
    top: 123px;
}
.price {
    color: #008752;
    font-size: 18px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    right: 10px; 
    top: 141px;
}
.piPriceVAT { 
    color: #666666;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    text-align: right;
    right: 10px;
    top: 165px;
}
.contentButton {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 207px;
}
.blockTitle {
    color: #005832;
    font-size: 20px;
    line-height: 20px;
}
.blockText {
    line-height: 16px;
    padding: 12px 10px 0 0;
}
.blockButton    {
    background: url("../img/blockButtonBg.png") no-repeat 0 0;
    color: #ffffff;
    display: block;
    font-size: 12px;
    height: 25px;
    line-height: 23px;
    padding: 0 2px;
    text-align: center;
    text-decoration: none;
    width: 136px;
    z-index: 5;
}