@charset "utf-8";
/* Gerealiseerd door : Juice BV - Noorderbaan 10 - 5388 RB Nistelrode    */
/* T: 0412-611453 - E: info@itsallinthemix.nl - I: www.itsallinthemix.nl */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);

/* CSS Document */
html {
	background: #ffffff repeat-x url('/Content/images/bodyBg.png') 0 0;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}
body {
	color: #666666;
	min-width: 1100px;
	position: relative;
}
* {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: #666666;
}
img {
	border: none;
}
p {
	margin: 0 0 18px 0;
}
h2 {
	color: #008751;
	font-size: 14px;
	font-weight: bold;
}
.hideMe {
	display:none;
}
#topGlow {
	background: transparent repeat-x url('/Content/images/topGlow.png') top center;
	display: block;
	height: 330px;
	left: 0;
	width: 100%;
	position: absolute;
	top: 36px;
	z-index: -1;
}
#container {
	margin: 0 auto 30px;
	position: relative;
	width: 1000px;
    display: table;
}
#beeldmerk {
	background: transparent no-repeat url('/Content/images/beeldmerk.png') 0 0;
	height: 97px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 69px;
}
#header {
	height: 90px;
	position: relative;
	z-index: 100;
}
#homelink {
	background: transparent no-repeat url('/Content/images/logo_nl.png') 0 0;
	display: block;
	float: left;
	height: 80px;
	margin: 6px 0 0 21px;
	width: 550px;
}
#homelinkError {
	background: transparent no-repeat url('/Content/images/logo_nl.png') 0 0;
	display: block;
	float: left;
	height: 80px;
	margin: 6px 0 0 21px;
	width: 170px;
}
#homelink.deutsch {
	background: transparent no-repeat url('/Content/images/logo_de.png') 0 0;
}
#homelink.english, #homelink.american {
	background: transparent no-repeat url('/Content/images/logo_en.png') 0 0;
}
#topBox {
	float: right;
	margin-right: 17px;
	position: absolute;
	right: 0px;
	z-index: 10;
}
#topBox ul {
	background: transparent no-repeat url('/Content/images/topDivider.png') top left;
	float: right;
	padding-left: 1px;
}
#topBox ul li {
	background: transparent no-repeat url('/Content/images/topDivider.png') top right;
	float: left;
	height: 32px;
	line-height: 32px;
	padding-right: 1px;
	position: relative;
	z-index: 10;
}
#topBox ul li#languages {
	padding: 0 10px 0 8px;
}
#topBox ul li a {
	background: transparent no-repeat url('/Content/images/arrowDownWhite.png') center right;
	color: #ffffff;
	display: inline-block;
	padding: 0 25px 0 10px;
	text-decoration: none;
}
#topBox ul li a:hover {
	background: #9dd171 no-repeat url('/Content/images/arrowDownWhite.png') center right;
}
#topBox ul li ul {
	background: #e1e1e1;
	border: 1px solid #ffffff;
	border-bottom: none;
	display: none;
	height: auto;
	position: absolute;
	top: 32px;
	left: 0;
	z-index: 10;
}
#topBox ul li:hover ul {
	display: block;
}
#topBox ul li ul li {
	background: none;
	border-bottom: 1px solid #ffffff;
	color: #333333;
	height: auto;
	line-height: 24px;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 150px;
}
#topBox ul li ul li.topBoxWM {
	line-height: 15px;
	padding: 7px 9px;
	width: 170px;
}
#topBox ul li ul li a {
	background: none;
	color: #333333;
	display: block;
	margin: 0;
	padding: 0 12px 0 13px;
}
#topBox ul li ul li a:hover {
	background-image: none;
}
#phoneNumber {	
	color: #ffffff !important;
	font-family: 'Droid Sans', times new roman;
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;	
	letter-spacing: 1px;
	padding: 0 0 0 25px;
	
	background: transparent no-repeat url('/Content/images/topPhoneNumber.png') 0 0;
	height: 32px;
	margin: 0 10px 0 12px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
	width: auto;
}
.zoom img {
	border: none;
}
/* 
#phoneNumber.deutsch {
	background: transparent no-repeat url('/Content/images/topPhoneNumber_de.png') 0 0;
	margin: 0 8px 0 10px;
	width: 180px;
}
#phoneNumber.english {
	background: transparent no-repeat url('/Content/images/topPhoneNumber_en.png') 0 0;
	width: 158px;
}
#phoneNumber.american {
	background: transparent no-repeat url('/Content/images/topPhoneNumber_us.png') 0 0;
	width: 146px;
} */
#phoneNumber.deutsch {
	letter-spacing: 0;
	padding-left: 22px;
	margin: 0 8px 0 9px;
}
#topBox ul li#languages a {
	background: transparent no-repeat url('/Content/images/topLanguages.png') 0 0;
	display: inline-block;
	cursor: pointer;
	height: 22px;
	width: 28px;
	margin-top: 6px;
	margin-right: 2px;
	float: left;
	padding: 0px;
}
#topBox ul li#languages a.language {
	padding: 0px;
}
#topBox ul li#languages a#languageNL {
	margin-left: -2px;
}
#topBox ul li#languages a#languageBE {
	background-position: -30px 0;
}
#topBox ul li#languages a#languageUK {
	background-position: -60px 0;
}
#topBox ul li#languages a#languageDE {
	background-position: -90px 0;
}
#topBox ul li#languages a#languageUS {
 	background-position: -120px 0;
}
#topBox ul li#languages a#languageEN 
{
    background-position: -154px 0;
}
#search {
	background: transparent no-repeat url('/Content/images/search.png') 0 0;
	height: 22px;
	position: absolute;
	right: 20px;
	top: 54px;
	width: 283px;
}
#phone {
	background: transparent no-repeat url('/Content/images/phone.png') 0 0;
	height: 22px;
	margin-top: 5px;
	position: relative;
	width: 213px;
}
#search input, #phone input {
	color: #80ac99;
	background: none;
	border: none;
	float: left;
	font-family: Verdana, Helvetica, Sans-serif;
	font-size: 10px;
	height: 22px;
	line-height: 22px;
	margin: 0 6px;
	width: 214px;
}
#phone input {
	width: 144px;
}
.searchIcon {
	background: transparent no-repeat url('/Content/images/searchIcon.png') 0 0;
	float: left;
	height: 22px;
	width: 22px;
}
.telephone {
	background-position: 0 -22px;
}
a.searchButton {
	background: transparent no-repeat url('/Content/images/searchButton.png') 0 0;
	display: block;
	float: right;
	height: 22px;
	width: 30px;
}
a.searchButton:hover {
	background-position: -35px 0;
}
#content {
	background: transparent no-repeat url('/Content/images/contentBg.png') 0 0;
	min-height: 600px;
	padding: 7px 20px 30px;
}
/* Main content */
#mainContent ul li, .mainContentList li {
	background: transparent no-repeat url('/Content/images/ContentListLiBg.png') left 5px;
	padding-left: 20px;
}
img.floatRight {
	float: right;
}
img.floatLeft {
	float: left;
}
/* Navigatie */

#contentNav {
	background: transparent no-repeat url('/Content/images/contentNavBg.png') 0 0;
	height: 46px;
	width: 695px;
	margin: 25px 0 25px -16px;
	padding: 0 6px 0 16px;
}
#contentNav ul {
	margin: 0 0 0 60px;
}
#contentNav li {
	float: left;
	height: 45px;
	line-height: 45px;
	margin-top: 1px;
}
#mainContent #contentNav ul li, .mainContentList #contentNav li {
	background: none;
	padding-left: 0px;
}
#mainNav {
	height: 42px;
}
#mainNav li {
	float: left;
	height: 44px;
	line-height: 44px;
}
#mainNav li a, #contentNav li a, #contentNav li span {
	background: transparent no-repeat url('/Content/images/mainNavLiBg.png') 0 0;
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 0 15px 0 15px;
}
.deutsch #mainNav li a {
	padding: 0 13px 0 15px;
}
#mainNav li a:hover, #contentNav li a:hover, #mainNav li a.active, #contentNav li a.active {
	color: #008851
}
#mainNav li a.active, #contentNav li a.active {
	background: #ffffff no-repeat url('/Content/images/mainNavLiBg.png') 0 0;
}
#mainNav li.first a {
	background: none;
}
#mainNav li.first a.active {
	background: #ffffff no-repeat url('/Content/images/mainNavLiFirstBg.png') 0 0;
}
#mainNav li.last a.active {
	background: #ffffff no-repeat url('/Content/images/mainNavLiLastBg.png') 0 0;
}
/* Footer */
#contentFooterBg {
	background: #00653a repeat-x url('/Content/images/contentFooterBg.png') 0 0;
	display: block;
	min-height: 531px;
	position: relative;
}
#footerContainer {
	margin: 0px auto;
	width: 1000px;
	height: auto;
	position: relative;
}
#footerGlow {
	background: transparent repeat-x url('/Content/images/footerGlow.png') top center;
	top: 101px;
	display: block;
	height: 430px;
	left: 0;
	position: absolute;
	width: 100%;
}
#footerContact {
	height: 100px;
	position: relative;
	margin-left: 20px;
}
.subFooterDivider {
	background: transparent no-repeat url('/Content/images/subFooterDivider.png') 0 0;
	float: left;
	height: 70px;
	margin-top: 15px;
	width: 1px;
}
#footerContact a {
	cursor: pointer;
	display: block;
	text-decoration: none;
}
.fcBlock {
	background: transparent no-repeat url('/Content/images/subFooterIcon.png') 0 0;
	display: inline-block;
	float: left;
	height: 100px;
	padding-left: 109px;
	width: 210px;/* cursor: pointer; */
	cursor: pointer;
}
.fcBlock.US 
{
    cursor: auto;
}
.fcbText {
	background: transparent no-repeat url('/Content/images/subFooterArrow.png') bottom right;
	color: #777777;
	font-size: 11px;
	height: 25px;
	line-height: 12px;
	padding: 5px 14px 0 0;
	overflow: hidden;
	position: relative;
	width: 165px;
}
#footerContact a:hover.fcBlock, #footerContact div:hover.fcBlock {
	background: transparent no-repeat url('/Content/images/subFooterIconHover.png') 0 0;
}
.fcBlock.fcMail, #footerContact div:hover.fcBlock.fcMail {
	background-position: 0 -100px !important;
}
.fcBlock.fcNewsletter, #footerContact div:hover.fcBlock.fcNewsletter {
	background-position: 0 -300px !important;
}

#footerContact div.fcBlock.fcChat 
{
    background-position: 0 -200px;
}
.fcbTitle {
	color: #005832;
	font-size: 18px;
	padding-top: 23px;
	text-decoration: none;
}
#footerContact a:hover .fcbTitle {
	color: #3e9541;
}
#footerMenu {
	color: #ffffff;
	font-size: 11px;
	height: auto;
	padding: 10px 0;
	height: auto;
}
.footerBlock {
	float: left;
	margin: 20px 10px 20px 20px;
}
.fbTitle, .fbtitle {
	background: transparent no-repeat url('/Content/images/footerTitles.png') 0 0;
	height: 18px;
	margin: 7px 0 24px 0;
	width: 180px;
}
.fbTitle.DE, .fbtitle.DE {
	background: transparent no-repeat url('/Content/images/footerTitles_de.png') 0 0;
}
.fbTitle.EN, .fbtitle.EN, .fbTitle.US, .fbtitle.US {
	background: transparent no-repeat url('/Content/images/footerTitles_en.png') 0 0;
}
.fbTitle.informatie, .fbtitle.informatie {
	background-position: 0 -20px;
}
.fbTitle.service, .fbtitle.service {
	background-position: 0 -40px;
}
.fbTitle.contactgegevens, .fbtitle.contactgegevens {
	background-position: 0 -60px;
}
.footerBlock ul {
	width: 180px;
}
.footerBlock ul li {
	background: transparent no-repeat url('/Content/images/footerListstyle.png') 0 0;
	line-height: 13px;
	margin: 3px 0 4px 0;
	padding-left: 26px;
}
.footerBlock.contactgegevens ul {
	width: 300px;
}
.footerBlock.contactgegevens ul li {
	margin-bottom: 15px;
}
.footerBlock ul li a {
	color: #ffffff;
	text-decoration: none;
}
.footerBlock ul li a:hover {
	text-decoration: underline;
}
.footerBlock p {
	margin: 0 0 15px;
}
#socialMedia {
	height: 24px;
	margin-top: 5px;
}
a.socialMediaLink {
	background: transparent no-repeat url('/Content/images/socialMedia.png') 0 0;
	display: block;
	float: left;
	height: 24px;
	margin-right: 3px;
	width: 24px;
}
a.socialMediaLink.twitter {
	background-position: -27px 0;
}
a.socialMediaLink.linkedin {
	background-position: -54px 0;
}
/* Pagefooter */
#pageFooter {
	background: #00321d;
	height: 83px;
}
#pageFooterContainer {
	color: #ffffff;
	font-size: 10px;
	height: 50px;
	line-height: 50px;
	margin: 0px auto;
	padding: 0 20px;
	width: 960px;
}
#pageFooterContainer a {
	color: #ffffff;
	text-decoration: none;
}
#pageFooterContainer a:hover {
	text-decoration: underline;
}
#pfcLeft {
	float: left;
}
#pfcRight {
	float: right;
}
#pfcRight a {
	color: #7cc242;
	text-decoration: underline;
}
#pfcRight a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
	float: none!important;
}
/* Breadcrumbs */

#breadcrumbs {
	clear: both;
	color: #999999;
	font-size: 10px;
	font-weight: bold;
	height: 36px;
	line-height: 30px;
	margin-left: 16px;
}
#breadcrumbs a {
	background: transparent no-repeat url('/Content/images/breadcrumbSpacer.png') top right;
	font-weight: normal;
	padding-right: 18px;
	text-decoration: none;
}
#breadcrumbs a:hover {
	color: #008852;
	text-decoration: underline;
}
#breadcrumbs a.noLink:hover {
	text-decoration: none;
	color: #666666;
}
/* Linkermenu */

#leftMenu {
	float: left;
	min-height: 522px;
	width: 198px;
}
#leftMenu ul {
	margin: 7px 0 0 10px;
}
#leftMenu ul li a {
	background: transparent no-repeat url('/Content/images/leftMenuUlBg.png') top right;
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 38px;
	line-height: 31px;
	padding: 0 11px 0 34px;
	position: relative;
	text-decoration: none;
	width: 144px;
	z-index: 5;
}
#leftMenu ul li a.mainLeftMenu:after, #leftMenu ul li a.mainLeftMenu .after {
	border-left: 6px solid #ffffff;
	border-right: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 14px;
	top: 10px;
	z-index: 10;
}
.msie7 .mainLeftMenu {
	zoom: 'expression(this.runtimeStyle.zoom="1", this.appendChild( document.createElement("small") ).className="after")';
}
#leftMenu ul li.open a.mainLeftMenu:after, #leftMenu ul li.open a.mainLeftMenu .after {
	border-top: 6px solid #ffffff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 0;
	left: 13px;
	top: 13px;
}
#leftMenu.all-open > ul > li > a {
	cursor: default;
}
#leftMenu ul li.menusafety a {
	background-position: 0 -38px;
}
#leftMenu ul li.menufacility a {
	background-position: 0 -76px;
}
#leftMenu ul li.menumobility a {
	background-position: 0 -114px;
}
#leftMenu ul li ul {
	background: #e1e1e1 no-repeat url('/Content/images/leftMenuUlBottomBg.png') bottom left;
	font-size: 11px;
	font-weight: normal;
	margin: -9px 0 4px;
	padding: 9px 0 6px;
	width: 180px;
}
#leftMenu ul li ul li:hover, #leftMenu ul li ul li.active {
	background: url('/Content/images/leftMenuUlLiBg.png');
}
#leftMenu ul li ul li a {
	background: transparent no-repeat url('/Content/images/leftMenuUlLinkBg.png');
	color: #333333;
	display: block;
	font-size: 11px;
	font-weight: normal;
	height: auto;
	line-height: 25px;
	padding: 0 0 0 35px;
	position: relative;
	text-decoration: none;
	width: 145px;
	z-index: 1;
}
#leftMenu ul li.menusafety ul li a {
	background-position: 0 -100px;
}
#leftMenu ul li.menufacility ul li a {
	background-position: 0 -200px;
}
#leftMenu ul li.menumobility ul li a {
	background-position: 0 -300px;
}
/* Maincontent */

#mainContent {
	color: #333333;
	background: transparent no-repeat url('/Content/images/mainContentBg.png') top right;
	float: right;
	font-size: 11px;
	line-height: 18px;
	min-height: 522px;
	padding: 75px 30px 0 36px;
	position: relative;
	width: 695px;
}
#mainContent.newsContent {
	padding: 55px 20px 0 16px;
	width: 725px;
}
.pageTitle {
	color: #008851;
	float: left;
	font-size: 18px;
	height: 42px;
	line-height: 42px;
	margin-left: -15px;
	margin-right: 60px;
	padding: 7px 0 0 0;
	position: absolute;
	font-weight: bold;
	top: 0px;
}
.pageTitle.tempPageTitle {
	height: auto;
	visibility: hidden;
	width: 680px;
}
.pageTitle.multipleLine {
	font-size: 16px;
	line-height: 16px;
	padding: 11px 0 0;
}
.newsContent .pageTitle {
	margin-left: 5px;
}
/* Social Media links boven content */

#socialMediaLinks {
	height: 24px;
	position: absolute;
	right: 6px;
	top: 17px;
	width: 112px;
}
#socialMediaLinks a {
	background: transparent no-repeat url('/Content/images/socialMediaLinksBg.png');
	display: block;
	float: left;
	height: 24px;
	margin-right: 4px;
	width: 24px;
}
#socialMediaLinks a.twitter {
	background-position: -24px 0;
}
#socialMediaLinks a.linkedin {
	background-position: -48px 0;
}
#socialMediaLinks a.email {
	background-position: -72px 0;
}
/* Content knoppen */

a.contentButton {
	background: url("/Content/images/blockButtonBg.png") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	display: block;
	float: right;
	font-size: 11px;
	height: 25px;
	line-height: 23px;
	padding: 0 2px;
	text-align: center;
	text-decoration: none;
	width: 136px;
}
a.contentButton:hover {
	background-position: 0 -25px;
}
/* Productinfo */
.productInfo p {
	float: left;
}
#piImage {
	float: left;
	text-align: center;
	width: 300px;
	margin: 0 15px 0 -15px;
}
.print #piImage {
	margin : 0;
}
.print #piImage img {
	max-width: 280px;
}
img.productImage {
	max-width: 100%;
}
#piPrice {
	color: #666666;
	font-size: 11px;
	height: 36px;
	line-height: 11px;
	position: absolute ;
	text-align: right;
	width: 305px;
	float: right;
	padding-right: 0px;
	margin-bottom: 5px;
	right: 10px;
	bottom: 50px;
}
#piPriceVAT {
	color: #666666;
	font-size: 11px;
	line-height: 11px;
	position: absolute ;
	text-align: right;
	width: 305px;
	float: right;
	padding-right: 0px;
	margin-bottom: 5px;
	right: 10px;
	bottom: 35px;
}
.oldprice {
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	line-height: 18px;
	margin-left: 10px;
	right: 0;
	text-align:right;
}
.price {
	color: #008752;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	margin-left: 10px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
/* popups */
.popup {
	padding: 20px;
}
.popupTitle {
	color: #008751;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
}
#callMeBack {
	width: 500px;
}
#callMeBack .formData {
	width: 241px;
}
#callMeBack .formData.fdInput {
	background: none;
}
#callMeBack .formData input {
	background: url("../img/form/input.png") no-repeat scroll 0 -23px transparent;
	margin: 0;
	padding: 0 5px;
}
.has-overflow, .has-overflow .holder {
	overflow: visible !important;
}
#callMeBack label.error {
	display: block;
	color: #cc0000;
}
.dynamicForm .formData {
	/* width: 450px; */
	width: 400px;
}
.dynamicForm .textArea {
	margin: 4px 0;
}
.fcPhone {
	cursor: pointer;
}

/* COOKIE MELDING */
.cookie-opt-in {
	display: block;
	font-size: 12px;
	left: 0px;
	right: 0px;
	color: rgb(255, 255, 255);
	position: fixed;
	z-index: 99999;
	box-shadow: 0px 0.12em 0.5em rgba(0,0,0,0.25);
	-o-transition: top .5s;
	-moz-transition: top .5s;
	-ms-transition: top .5s;
	-webkit-transition: top .5s;
	transition: top .5s;
}
.visible.cookie-opt-in {
	bottom: 0;
}
.cookie-background {
	background: #000000;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	/* IE 5-7 */
	filter: alpha(opacity=75);
	/* Netscape */
	-moz-opacity: 0.75;
	/* Safari 1.x */
	-khtml-opacity: 0.75;
	/* Good browsers */
	opacity: 0.75;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.cookie-opt-in .wrapper {
	max-width: 1000px;
	margin: 0px auto;
	padding: 0.75em 1.25em;
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	z-index: 2;
}
.cookie-opt-in p {
	display: block;
	float: left;
	margin: 0;
	width: 800px;
}
.cookie-opt-in a.link {
	color: #ffffff;
	text-decoration: underline;
}
.cookie-opt-in a.button {
	background: url(../img/close.png) no-repeat right 1px;
	color: #ffffff;
	display: block;
	float: right;
	height: 17px;
	padding-right: 20px;
	position: absolute;
	right: 0;
	text-decoration: underline;
	vertical-align: top;
	white-space: nowrap;
}
.cookie-opt-in a:focus {
	color: #ffffff;
	text-decoration: underline;
}
.cookie-opt-in a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.cookie-clear {
	clear: both;
}
.msie7 .cookie-clear {
	height: 0;
}

/* shopping basket popup */
#addToBasketPopup, .addToBasketPopup {
	width: 704px;
}
.popTitle {
	font-size: 14px;
	font-weight: bold;
	color: #008751;
	height: 41px;
	line-height: 39px;
	background: repeat-x url(../img/content/prodPopup.gif) left bottom;
	text-indent: 10px;
}
.popTitleBorder {
	border-top: 1px solid #e0e0e0;
}
.popupProdImg {
	float: left;
	width: 175px;
	height: 180px;
	text-align: center;
	padding: 10px 0 0 0;
}
.popupProdTxt {
	float: left;
	width: 370px;
	padding: 20px 0 0 0;
}
.ppName {
	color: #008752;
	font-size: 14px;
	font-weight: bold;
}
.ppTxt {
	line-height: 18px;
	color: #333333;
	font-size: 11px;
	/* height: 90px; */
	margin-bottom: 5px;
}
.ppPrice {
	color: #008752;
	font-size: 18px;
	font-weight: bold;
}
.piPriceVAT {
	color: #999999;
	font-size: 11px;
	font-weight: normal;
}
.ppsArrow {
	width: 12px;
	height: 207px;
	background: no-repeat url(../img/content/popupArrows.gif);
	cursor: pointer;
}
.ppsArrowLeft {
	float: left;
}
.ppSliderHolder {
	float: left;
	width: 679px;
	overflow: hidden;
	height: 216px;
	position: relative;
}
.ppSlider {
	height: 207px;
	position: absolute;
	left: 0;
	top: 0;
	width: 10000px;
}
.ppsProd {
	height: 207px;
	width: 170px;
	background: no-repeat url(../img/content/popupProdDivider.gif) right top;
	float: left;
	position: relative;
}
.ppsAdded {
	font-weight: bold;
	font-size: 14px;
	color: #008752;
	position: absolute;
	left: 5px;
	top: 5px;
	display: none;
}
.ppsProdImg {
	height: 141px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 170px;
	line-height: 141px;
}
.ppsProdImg img {
	max-height: 121px;
}
.ppsProdTxt {
	margin: 0 10px;
	font-size: 10px;
	line-height: 11px;
	color: #333333;
	height: 35px;
}
a.contentButton.ppsProdAdd {
	float: left !important;
	width: 62px !important;
	cursor: pointer;
	position: relative;
	left: 10px;
	background-position: 0 -50px;
	font-size: 10px;
}
a.contentButton.ppsProdAdd:hover {
	background-position: 0 -75px
}
.ppsProdPrice {
	float: right;
	font-weight: bold;
	font-size: 14px;
	color: #008752;
	margin: 0 10px 0 0;
}
.ppsProdPrice .piPriceVAT {
	text-align: right;
}
#productPopup .transformSelect {
    margin-bottom: 50px;
}

/* mpine additions */

.page-content-block 
{
    border: 2px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 170px;
    margin: 19px auto;
    padding: 5px 7px 6px 5px;
    position: relative;
    width: 925px;

}

.page-content-block section 
{
    border-right: 1px solid #ddd;
    float: left;
    height: 100%;
    text-align: center;
}
.page-content-block .block-2
{
    width: 45%;
}
.page-content-block .block-3
{
    width: 30%;
}
.page-content-block section:last-child 
{
    border-right: none;
}