
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("Information", MVC.Information.Index(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    @Html.Partial("MainLeftMenu")
</div>

<div id="mainContent" data-curpage="history">
    <h1 class="pageTitle">History</h1>

    <div class="clear"></div>
    <span style="COLOR: #008751; FONT-SIZE: 24px">
        Courage, innovation and knowledge of the market <br>
    </span><br>
    <h2>Pioneer</h2>
    <img style="FLOAT: right; MARGIN-LEFT: 25px" src="~/Content/images/DhrvanLeeuwen.jpg">The history of Escape Mobility Company dates back to 1987. In that year, the CEO, Herman van Leeuwen, introduced a whole new way of evacuating persons from buildings in the Netherlands, Germany and Belgium. Seated in an evacuation chair, a person in need of some assistance could be transported down the steps of a staircase. Up until then, this evacuation method had&nbsp;been unknown in these countries and demonstrations drew large numbers of interested visitors. At that time under the Company name 'Handelsmaatschappij H. van Leeuwen' and later the name 'van Leeuwen Companies', evacuation chairs were assembled and supplied. Later, the name 'van Leeuwen Companies' was changed into 'Escape Mobility Company', in order to reflect&nbsp;within the name of the Company, the link between the Escape products and the Mobility products. These Mobility products are products intended for the regular transportation of persons and goods (via staircases). <br>
    <br>
    <h2>An in-house development: from ‘van Leeuwen evacuation chair' to Escape-Chair® </h2>
    In 2003, our company introduced updated models of evacuation chairs. At first under the name of ‘van Leeuwen evacuation chair’ and, since 2006, the completely updated Escape-Chair®. These updated models complied better with the changing needs of the customers and the latest safety requirements and were (and still are)&nbsp;developed further and assembled in-house. Nowadays, Customers of Escape Mobility Company can choose from five Escape-Chair® models. <br>
    <br>
    <h2>Evacuating in a lying position</h2>
    At the end of 2006, Escape Mobility Company developed the first evacuation mattress (Fold model). This Escape-Mattress® was a solution to evacuation problems in buildings where persons must be evacuated in a lying position or where there were spiral staircases.&nbsp;Not only this,&nbsp;a&nbsp;huge demand for this product&nbsp;came from the care environment, where the majority&nbsp;of the clients are extremely vulnerable.<br>
    The Escape-Mattress® range was then extended with two more models with the same functionality, but suitable for a different storage method (Solo and Compact models). In the course of time, the Evacuationsheet was also added as an addition&nbsp;to the range of evacuation&nbsp;products offered. The Escape-Mattress® Healthcare was launched in 2012, especially for the Healthcare sector. Along&nbsp;with&nbsp;the <br>
    Escape-Mattress® Stretcher, designed for Emergency Services.<br>
    <br>
    <h2>Expansion to total supplier</h2>
    Escape Mobility Company continued to develop itself&nbsp;as a specialist in evacuation products. Thanks to the confidence which had been built up over many years, Escape Mobility Company was asked by several Customers to become their total supplier of evacuation&nbsp;products, first aid and emergency response products. The first catalogue offering a full range was issued in January 2007. <br>
    <br>
    <h2>Development of Escape-Carry Chair® </h2>
    In response to the needs of the Emergency&nbsp;Services, the evacuation chair&nbsp;was&nbsp;developed to include carrying handles. In 2008&nbsp;came further developments, being a unique series of evacuation and carry chairs for the Emergency Services: the Escape-Carry Chair®. <br>
    <br>
    <h2>Accessories </h2>
    Several accessories for the Escape-Chair® and the Escape-Carry Chair® have been developed in-house over the years. Especially for those who need more support when in a sitting position (for example elderly persons or persons with a physical limitation); the raised seat; the fixation harness; the fixation headrest and an extra wide backrest are all good examples of the practical, market-oriented and innovative approach of Escape Mobility Company. <br>
</div>
