<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="EscapeDataContext" connectionString="Data Source=MARK-DEV-PC;Initial Catalog=EscapeDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="EscapeDataContext" connectionString="Data Source=MARK-DEV-PC;Initial Catalog=Escape-BackUp;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="EscapeDataContext" connectionString="Data Source=EscapeDB.db.2566913.hostedresource.com; Initial Catalog=EscapeDB; User ID=EscapeDB; Password=vZUaP27mhcAhjj%;" providerName="System.Data.SqlClient" />-->
  <!--<add name="EscapeDataModel" connectionString="data source=EscapeDB.db.2566913.hostedresource.com;persist security info=True;user id=EscapeDB;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="EscapeDataModel" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EscapeDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework codeConfigurationType="Escape.Data.EscapeDBConfiguration, Escape.Data">
    <contexts>
      <context type="Escape.Data.EscapeDataContext, Escape.Data">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[             Escape.Data.EscapeDataModel, Escape.Data],              [Escape.Data.EscapeDBConfiguration, Escape.Data]],              EntityFramework" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="DatabaseInitializerForType Escape.Data.EscapeDataModel, Escape.Data" value="System.Data.Entity.DropCreateDatabaseAlways`1[[Escape.Data.EscapeDataModel, Escape.Data]], EntityFramework" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>