@model EscapeMobility.Web.Models.ProductHighlightModels
@{
    ViewBag.Title = "Accessories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("All Products", MVC.AllProducts.Index(), null)
        @ViewBag.Title
    </div>
}
@section pagecss
{
    <link href="~/Content/styles/app/productlisting.1008085041.css" type="text/css" rel="stylesheet">
}
<div id="leftMenu" class="all-open">
    @Html.Partial("_MainLeftMenu")
</div>

<div id="mainContent" data-currentname="accessories" data-division="evacuation" data-curbranche="all-products">
    <h1 class="pageTitle">Accessories</h1>

    <div class="clear"></div>
    <p>
    </p><h2>Accessories and options </h2>
    Accessories and optional&nbsp;extras,&nbsp;ideal for&nbsp;the Escape-Chair®, Escape-Carry Chair® or Escape-Mattress®
    <p></p>
    <div style="CLEAR: both"></div>
    <p></p>
    @foreach (var item in Model.ProductHighlights)
    {
        item.IsDev = Model.IsDev;
        Html.RenderPartial("_ProductHighlight", item);
    }
</div>
