@model EscapeMobility.Web.Models.ProductHighlightModels
@{
    ViewBag.Title = "Smokehood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("Office Buildings", MVC.OfficeBuildings.Index(), null)
        @ViewBag.Title
    </div>
}
@section pagecss
{
    <link href="~/Content/styles/app/productlisting.1008085041.css" type="text/css" rel="stylesheet">
}

<div id="leftMenu" class="all-open">
    @Html.Partial("./_MainLeftMenu")
</div>

<div id="mainContent" data-currentname="Smokehood" data-division="safety" data-curbranche="officebuildings">
    <h1 class="pageTitle">Smoke Hood</h1>

    <div class="clear"></div>
    @foreach (var item in Model.ProductHighlights)
    {
        Html.RenderPartial("_ProductHighlight", item);
    }
</div> 