
@{
    ViewBag.Title = "Emergency Aid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagebreadcrumbs
{
    <div id="breadcrumbs">
        @Html.ActionLink("Home", MVC.Home.Index(), null)
        @Html.ActionLink("Safety", MVC.AllProductsSafety.EmergencyAid(), null)
        @ViewBag.Title
    </div>
}

<div id="leftMenu" class="all-open">
    
</div>

<div id="mainContent" data-currentname="emergency-aid" data-division="safety" data-curbranche="all-products">
    <h1 class="pageTitle">Emergency Aid</h1>

    <div class="clear"></div>
    <p>

    </p>
    <div class="overviewBlock">
        <div class="obImage">
            <img src="./Emergency Aids_files/emergency-water-rations.jpg" class="overviewImage">
        </div>
        <h2>Emergency Water Rations</h2>
        <p>
            Pre-Measured Packets containing Emergency water (60 packages).
        </p>
        <div id="piPrice">

            <div class="price">$ 14.00</div>
        </div>
        <div id="piPriceVAT">excl. Tax</div>
        <div class="clear"></div>
        <a href="http://www.escape-mobility-usa.com/product/all-products/safety/emergency-aid/emergency-water-rations.aspx" class="contentButton moreInfo">More information</a>
        <a class="contentButton addToBasket" data-pid="371" data-pname="emergency-water-rations" data-tbranche="all-products" data-tmaingroup="safety" data-tgroup="emergency-aid">Add to quote</a>
    </div><div class="overviewBlock">
        <div class="obImage">
            <img src="./Emergency Aids_files/emergency-food-rations--mainstay-3600--1-package.jpg" class="overviewImage">
        </div>
        <h2>Emergency Food Rations - Mainstay 3600 - 1 package</h2>
        <p>
            1 x Package.<br>
            <em>Also available per case (10 packages).</em>
        </p>
        <div id="piPrice">

            <div class="price">$ 7.00</div>
        </div>
        <div id="piPriceVAT">excl. Tax</div>
        <div class="clear"></div>
        <a href="http://www.escape-mobility-usa.com/product/all-products/safety/emergency-aid/emergency-food-rations--mainstay-3600--1-package.aspx" class="contentButton moreInfo">More information</a>
        <a class="contentButton addToBasket" data-pid="372" data-pname="emergency-food-rations--mainstay-3600--1-package" data-tbranche="all-products" data-tmaingroup="safety" data-tgroup="emergency-aid">Add to quote</a>
    </div><div class="overviewBlock">
        <div class="obImage">
            <img src="./Emergency Aids_files/emergency-food-rations--mainstay-2400--1-package.jpg" class="overviewImage">
        </div>
        <h2>Emergency Food Rations - Mainstay 2400 - 1 package</h2>
        <p>
            1 x Package.<br>
            <em>Also available per case (20 packages).</em>
        </p>
        <div id="piPrice">

            <div class="price">$ 5.00</div>
        </div>
        <div id="piPriceVAT">excl. Tax</div>
        <div class="clear"></div>
        <a href="http://www.escape-mobility-usa.com/product/all-products/safety/emergency-aid/emergency-food-rations--mainstay-2400--1-package.aspx" class="contentButton moreInfo">More information</a>
        <a class="contentButton addToBasket" data-pid="374" data-pname="emergency-food-rations--mainstay-2400--1-package" data-tbranche="all-products" data-tmaingroup="safety" data-tgroup="emergency-aid">Add to quote</a>
    </div><div class="overviewBlock">
        <div class="obImage">
            <img src="./Emergency Aids_files/emergency-food-rations--mainstay-1200-energy-bar--1-package.jpg" class="overviewImage">
        </div>
        <h2>Emergency Food Rations - Mainstay 1200 energy bar - 1 package</h2>
        <p>
            1 x Package.<br>
            <em>Also available per case (30 packages).</em>
        </p>
        <div id="piPrice">

            <div class="price">$ 4.00</div>
        </div>
        <div id="piPriceVAT">excl. Tax</div>
        <div class="clear"></div>
        <a href="http://www.escape-mobility-usa.com/product/all-products/safety/emergency-aid/emergency-food-rations--mainstay-1200-energy-bar--1-package.aspx" class="contentButton moreInfo">More information</a>
        <a class="contentButton addToBasket" data-pid="376" data-pname="emergency-food-rations--mainstay-1200-energy-bar--1-package" data-tbranche="all-products" data-tmaingroup="safety" data-tgroup="emergency-aid">Add to quote</a>
    </div><div class="overviewBlock">
        <div class="obImage">
            <img src="./Emergency Aids_files/nixall-cleanser--2oz-single.jpg" class="overviewImage">
        </div>
        <h2>Nixall Cleanser - 2oz, single</h2>
        <p>
            Nixall Cleanser, electrolyzed anolyte water.<br>
            <em>Available in different quantities.</em>
        </p>
        <div id="piPrice">

            <div class="price">$ 8.95</div>
        </div>
        <div id="piPriceVAT">excl. Tax</div>
        <div class="clear"></div>
        <a href="http://www.escape-mobility-usa.com/product/all-products/safety/emergency-aid/nixall-cleanser--2oz-single.aspx" class="contentButton moreInfo">More information</a>
        <a class="contentButton addToBasket" data-pid="378" data-pname="nixall-cleanser--2oz-single" data-tbranche="all-products" data-tmaingroup="safety" data-tgroup="emergency-aid">Add to quote</a>
    </div><div class="overviewBlock">
        <div class="obImage">
            <img src="./Emergency Aids_files/nixall-disinfectant--quart-bottle-single.jpg" class="overviewImage">
        </div>
        <h2>Nixall Disinfectant - Quart bottle, single</h2>
        <p>
            Nixall Disinfectant is the “Safe as Water” alternative to harmful chemicals. <br>
            <em>Available in different quantities.</em>
        </p>
        <div id="piPrice">

            <div class="price">$ 19.95</div>
        </div>
        <div id="piPriceVAT">excl. Tax</div>
        <div class="clear"></div>
        <a href="http://www.escape-mobility-usa.com/product/all-products/safety/emergency-aid/nixall-disinfectant--quart-bottle-single.aspx" class="contentButton moreInfo">More information</a>
        <a class="contentButton addToBasket" data-pid="384" data-pname="nixall-disinfectant--quart-bottle-single" data-tbranche="all-products" data-tmaingroup="safety" data-tgroup="emergency-aid">Add to quote</a>
    </div><div class="overviewBlock">
        <div class="obImage">
            <img src="./Emergency Aids_files/nixall-vet-response--8oz-single.jpg" class="overviewImage">
        </div>
        <h2>Nixall Vet Response - 8oz single</h2>
        <p>
            Nixall™ Vet Response™ Wound and Skin wound treatment for cuts, hot spots, skin irritations, burns, and for the flushing of ears and eyes of debris and irritants.<br>
            <em>Available in different quantities.</em>
        </p>
        <div id="piPrice">

            <div class="price">$ 21.95</div>
        </div>
        <div id="piPriceVAT">excl. Tax</div>
        <div class="clear"></div>
        <a href="http://www.escape-mobility-usa.com/product/all-products/safety/emergency-aid/nixall-vet-response--8oz-single.aspx" class="contentButton moreInfo">More information</a>
        <a class="contentButton addToBasket" data-pid="386" data-pname="nixall-vet-response--8oz-single" data-tbranche="all-products" data-tmaingroup="safety" data-tgroup="emergency-aid">Add to quote</a>
    </div><div class="overviewBlock">
        <div class="obImage">
            <img src="./Emergency Aids_files/nixall-wound--skin-solution--2oz-single.jpg" class="overviewImage">
        </div>
        <h2>Nixall Wound + Skin Solution - 2oz single</h2>
        <p>
            Nixall™ Wound + Skin Solution OTC is the first choice from your medicine cabinet or first aid.<br>
            <em>Available in different quantities.</em>
        </p>
        <div id="piPrice">

            <div class="price">$ 9.95</div>
        </div>
        <div id="piPriceVAT">excl. Tax</div>
        <div class="clear"></div>
        <a href="http://www.escape-mobility-usa.com/product/all-products/safety/emergency-aid/nixall-wound--skin-solution--2oz-single.aspx" class="contentButton moreInfo">More information</a>
        <a class="contentButton addToBasket" data-pid="390" data-pname="nixall-wound--skin-solution--2oz-single" data-tbranche="all-products" data-tmaingroup="safety" data-tgroup="emergency-aid">Add to quote</a>
    </div>
    <div class="clear"></div>
</div>
